<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd 
        http://cxf.apache.org/jaxws
 		http://cxf.apache.org/schemas/jaxws.xsd
        ">

	<!-- webservice start -->
	<!-- <bean id="hello" class="com.wos.mgt.impl.HelloWorldImpl" >
		<property name="addressType" ref="addressTypeMapper"/>
	</bean>

	<jaxws:endpoint id="helloWorld" implementor="#hello"
		address="/HelloWorld" /> -->
		
	<bean id="installDoc" class="com.wos.mgt.impl.InstallDocMgtImpl" scope="prototype">
		<property name="addressType" ref="addressTypeMapper"/>
		<property name="installDocument" ref="installDocumentMapper"/>
		<property name="installTemplate" ref="installTemplateMapper"/>
		<property name="installDocuDetail" ref="installDocuDetailMapper"/>
		<property name="taxOrganization" ref="taxOrganizationMapper"/>
		<property name="configInfo" ref="configInfoMapper"/>
		<property name="chargeType" ref="chargeTypeMapper"/>
		<property name="serviceResponse" ref="serviceResponseMapper"/>
		<property name="contactInfo" ref="contactInfoMapper"/>
		<property name="enterpriseContact" ref="enterpriseContactsMapper"/>
		<property name="eventInfoMapper" ref="eventInfoMapper"/>
		<property name="rmsUserMapper" ref="rmsUserMapper"/>
	</bean>
	
	<bean id="login" class="com.wos.mgt.impl.LoginMgtImpl" >
		<property name="userDao" ref="rmsUserMapper"/>
	</bean>

	<jaxws:endpoint id="installDocMgt" implementor="#installDoc"
		address="/InstallDocument" />
		
	<jaxws:endpoint id="loginMgt" implementor="#login"
		address="/Login" />

</beans>